* {
  box-sizing: border-box;
  color: black;
  font-family: var(--notoFont);
  font-weight: bold;
}

html {
  padding: 0;
  margin: 0;
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  height: auto;
  --lightBlue: rgb(199, 208, 247);
  --lightRed: rgb(247, 199, 199);
  --navHeight: 70px;
  --navLargeHeight: 240px;
  --defaultFont: "Malgun Gothic", dotum, "돋움", sans-serif;
  --notoFont: "Noto Sans KR";

  box-shadow: 0 0 70px 10px rgba(0, 0, 0, 0.205);
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.body {
  height: 100%;
}

@media screen and (max-width: 1000px) {
  html {
    width: 100%;
  }
}
